@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Stil awal navbar */
header {
	transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
}

/* Stil navbar saat di-scroll */
header.scrolled {
	background-color: rgba(255, 255, 255, 0.8); /* Ganti dengan warna atau efek blur yang diinginkan */
	backdrop-filter: blur(10px); /* Ganti dengan tingkat blur yang diinginkan */
}

.navbar-nav .nav-link {
	color: black;
	font-size: 20px;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 700;
}
.navbar-nav .nav-link:hover {
	color: #004a87;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #004a87; /* Ganti dengan kode warna teks saat dihover yang diinginkan */
}
.navbar-nav .first-navbar {
	color: #004a87;
}
.footer {
	margin-top: 100px;
}
.footer-about h5 {
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins";
}
.footer-link h6 {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.footer-widget ul li {
	list-style-type: none;
	font-family: "Poppins";
}
.footer-widget li {
	margin-bottom: 20px;
}
.footer-widget a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: "Poppins";
	font-weight: 500;
}
.footer-widget a:hover {
	color: #004a87;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #004a87;
}
.icon-social i {
	font-size: 25px;
	margin-right: 20px;
	cursor: pointer;
}
.icon-social i:hover {
	color: #004a87;
	border-bottom: 2px solid #004a87;
}

.footer-copyright-text {
	background-color: #004a87;
	padding: 20px;
	font-family: "Poppins";
	color: white;
}

.img-top {
	overflow: hidden;
	height: 50vh;
	margin-top: 100px;
}

.img-top img {
	width: 100%;
	object-fit: cover;
	height: 620px;
}

/* About CSS */

* {
	font-family: "Poppins", sans-serif;
}

.jumbotron-img {
	background-size: cover;
	background-position: top center;
}

.text-primary {
	font-weight: bold;
	color: #004a87 !important;
}

ul.timeline {
	list-style-type: none;
	position: relative;
}

ul.timeline:before {
	content: " ";
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 400;
}

ul.timeline > li {
	margin: 20px 0;
	padding-left: 20px;
}

ul.timeline > li:before {
	content: " ";
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #004a87;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
}

.card-s {
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card-s:hover {
	transform: scale(1.01);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-b {
	transition: 0.2s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card-b:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-text-s {
	font-weight: bold;
	color: #004a87;
}

h2 {
	text-align: center;
	padding: 20px;
}
/* Slider */

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

.bg-img-1 {
	background-image: url("img/pt_astra_otoparts_cover.jpg");
}

.bg-img-2 {
	background-image: url("img/remy-gieling-qqtE2yX7POI-unsplash.jpg");
}

.bg-img-3 {
	background-image: url("img/jeshoots-com-sMKUYIasyDM-unsplash.jpg");
}

.carousel-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.img-home {
	width: 100%;
	height: auto;
	border-radius: 0px 20px 100px 20px;
}

.link-news:hover {
	color: #004a87!important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid #004a87;
}